@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Poppins";
}

canvas,
#root {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

html {
  --scrollbarBG: rgba(15, 12, 13, 0.7);
  --thumbBG: rgba(245, 39, 145, 0.2);
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
*::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 0px solid var(--scrollbarBG);
}

::-webkit-scrollbar-track:horizontal {
  display: none;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
